<th:block th:fragment="navigation">


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <p class="navbar-brand">Mailer App</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/messages">Send Message</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li ><a href="/inbox">Inbox</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li ><a href="/sent">Sent</a></li>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li ><a href="/logout">Logout</a></li>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li ><a href="/profile">Profile</a></li>
                </ul>


            </div>
        </div>
    </div>
    </div>

</th:block>